.RecentSearch {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 250px;
  overflow: hidden;
  transition: background-color 0.5s ease;
}

.RecentSearch:hover {
  background-color: #d74a4a;
}

.PokemonImage {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

@media (max-width: 768px) {
  .RecentSearch {
    margin-bottom: 10px;
  }
}