.PokemonEvolution {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: background-color 0.5s ease;
}

.PokemonEvolution img {
  height: 200px;
  width: 200px;
  object-fit: contain;
}

.PokemonEvolution:hover {
  background-color: #d74a4a;
}